@charset "utf-8";

/* 1. banner */
.banner{
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('https://www.78researchlab.com/images/services//blackWolf.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1{
	margin-bottom: 5px;
}

/* 2. section */
.sec{
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  height: fit-content;
}

/* 2-1. sec1 */
.sec1 .top{
  width: 100%;
  height: fit-content;
}
.sec1 .top p{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.sec1 .top span{
  font-size: 0.95rem;
  font-weight: 300;
}
.sec1 .bottom{
  width: 100%;
  height: fit-content;
}
.sec1 .bottom table{
  margin: 20px 0;
  width: 100%;
  border-spacing: 0;
}
.sec1 .bottom table thead tr th,
.sec1 .bottom table tbody tr td{
  border: 1px solid #F2F2F2;
}
.sec1 .bottom table thead tr th,
.sec1 .bottom table tbody tr td{
  width: calc(100% / 4);
  text-align: center;
}
.sec1 .bottom table thead tr th{
  background-color: #D0D1D1;
  height: fit-content;
  padding: 10px;
}
.sec1 .bottom table thead tr th:nth-child(1){
  /* border: none; */
  background-color: transparent;
}
.sec1 .bottom table tbody tr td{
  height: 45px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 0;
}
.sec1 .bottom table tbody tr:nth-child(even){
  background-color: #F2F2F2;
}
.sec1 .bottom table tbody tr:last-child.active td:first-child{
  background-color: #373838;
  color: #fff;
}
.sec1 .bottom table tbody tr:last-child,
.sec1 .bottom table tbody tr:last-child td{
  transition: 0.5s;
}
.sec1 .bottom table tbody tr:last-child.active td{
  border: 2px solid #373838;
}
.sec1 .bottom table tbody tr:last-child td:nth-child(n+2):nth-child(-n+3),
.sec1 .bottom table tbody tr:last-child.active td:nth-child(n+2):nth-child(-n+3){
  border-left: none;
  border-right: none;
}
.sec1 .bottom table tbody tr:last-child td:nth-child(4),
.sec1 .bottom table tbody tr:last-child.active td:nth-child(4){
  border-left: none;
}
.sec1 .bottom table tbody tr td .iconBox{
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.sec1 .bottom table tbody tr td .iconBox.circleIcon{
  background: url('../images/icons/circle.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
}
.sec1 .bottom table tbody tr td .iconBox.closeIcon{
  background: url('../images/icons/close.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
}
.sec1 .bottom table tbody tr td .iconBox.doubleCircleIcon{
  background: url('../images/icons/doubleCircle.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
  transition: 0.5s;
}
.sec1 .bottom table tbody tr td .iconBox.doubleCircleIcon.active{
  opacity: 0.9;
}

/* 2-2. sec2 */
.sec2 p{
  font-size: 1.1rem;
  font-weight: 700;
}
.sec2 .boxWrap{
  width: 100%;
  height: fit-content;
}
.sec2 .boxWrap .box{
  width: 100%;
  height: fit-content;
  background-color: rgba(55, 56, 56, 0.10);
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sec2 .boxWrap .box .icon{
  width: 30px;
  height: 30px;
  object-fit: contain;
  opacity: 0.8;
  margin-right: 20px;
}
.sec2 .boxWrap .box .txtBox{
  width: calc(100% - 65px);
  height: 100%;
}
.sec2 .boxWrap .box .txtBox p{
  font-size: 1rem;
  font-weight: 700;
}
.sec2 .boxWrap .box .txtBox span{
  font-size: 0.9rem;
  font-weight: 300;
}

/* 2-3. sec3 */
.sec3{
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  background-color: #F8F8F8;
}
.sec3 .innerWrap{
  padding: 100px 50px;
}
.sec3 p{
	text-transform: uppercase;
	letter-spacing: 20px;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}