@charset "utf-8";

/* 0. header */
header.active{
	background-color: rgba(255, 255, 255, 0.6);
}
header .menu-wrap .menu {
	color: #fff;
}
header .menu-wrap .menu::after {
	background-color: #fff;
}
header .menu-wrap .menu a.active {
	font-weight: 600;
}
header .menuBtn span{
  background-color: #fff;
}
header.active{
	background-color: rgba(255, 255, 255, 0.6);
}
header.active .menu-wrap .menu{
	color: #000;
}
header.active .menuBtn span{
  background-color: #000;
}

/* 1. banner */
.banner{
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('https://www.78researchlab.com/images/services//blackWolf.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner h1{
	margin-bottom: 5px;
}

/* 2. section */
.sec{
  width: 80%;
  max-width: 1200px;
  margin: 100px auto;
  height: fit-content;
}

/* 2-1. sec1 */
.sec1 .top{
  width: 100%;
  height: fit-content;
}
.sec1 .top p{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.sec1 .top span{
  font-size: 0.95rem;
  font-weight: 300;
}
.sec1 .bottom{
  width: 100%;
  height: fit-content;
}
.sec1 .bottom table{
  margin: 20px 0;
  width: 100%;
  border-spacing: 0;
}
.sec1 .bottom table thead tr th:first-child,
.sec1 .bottom table tbody tr td:first-child{
	width: 150px;
}
.sec1 .bottom table thead tr th,
.sec1 .bottom table tbody tr td{
  border: 1px solid #F2F2F2;
  text-align: center;
}
.sec1 .bottom table thead tr th{
  background-color: #D0D1D1;
  height: fit-content;
  padding: 10px;
}
.sec1 .bottom table thead tr th:nth-child(1){
  /* border: none; */
  background-color: transparent;
}
.sec1 .bottom table tbody tr td{
  height: 45px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 5px;
}
.sec1 .bottom table tbody tr:last-child.active td:first-child{
  background-color: #373838;
  color: #fff;
}
.sec1 .bottom table tbody tr:last-child,
.sec1 .bottom table tbody tr:last-child td{
  transition: 0.5s;
}
.sec1 .bottom table tbody tr:last-child.active td{
  border: 2px solid #373838;
}
.sec1 .bottom table tbody tr:last-child.active td:nth-child(n+2):nth-child(-n+3){
  border-left: none;
  border-right: none;
}
.sec1 .bottom table tbody tr:last-child td:nth-child(4),
.sec1 .bottom table tbody tr:last-child.active td:nth-child(4){
  border-left: none;
}
.sec1 .bottom table tbody tr td .iconBox{
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.sec1 .bottom table tbody tr td .iconBox.circleIcon{
  background: url('../images/icons/circle.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
  transition: 0.5s;
}
.sec1 .bottom table tbody tr td .iconBox.closeIcon{
  background: url('../images/icons/close.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
}
.sec1 .bottom table tbody tr td .iconBox.circleIcon.active{
  opacity: 0.9;
}

/* 2-2. sec2 */
.sec2 p{
  font-size: 1.1rem;
  font-weight: 700;
}
.sec2 .boxWrap{
  width: 100%;
  height: fit-content;
}
.sec2 .boxWrap .box{
  width: 100%;
  height: fit-content;
  background-color: rgba(55, 56, 56, 0.10);
  border-radius: 10px;
  padding: 20px 25px;
  margin: 10px 0;
  display: flex;
  justify-content: start;
  align-items: center;
}
.sec2 .boxWrap .box .txtBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sec2 .boxWrap .box .txtBox p{
  font-size: 1rem;
  font-weight: 700;
}
.sec2 .boxWrap .box .txtBox span{
  width: 100%;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 3px 5px;
  padding-left: 10px;
  position: relative;
}
.sec2 .boxWrap .box .txtBox span::before{
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 5px;
  height: 5px;
  background-color: black;
  border-radius: 50%;
}

@media (max-width : 1100px) {
  html,body{
    font-size: 95%;
  }
}
@media (max-width : 1000px) {
  .sec2 .bottom table tbody tr td:first-child{
    padding: 3px 5px;
  }
}
@media (max-width : 900px) {
  html, body{
    font-size: 90%;
  }
  .sec1 .bottom table tbody tr td .iconBox{
    width: 15px;
    height: 15px;
  }
}
@media (max-width : 800px) {
  html, body {
    font-size: 85%;
  }
}
@media (max-width : 650px) {
  html,body{
    font-size: 80%;
  }
  .sec{
    width: 90%;
    margin: 70px auto;
  }
}
@media (max-width : 550px) {
  .banner{
    padding: 0 50px;
  }
}