@charset "utf-8";

html, body{
	background-color: #fff;
}
/* 0. header */
header .logo {
	width: 25px;
	height: 25px;
}
header .logo img {
	object-fit: contain;
}
header .menu-wrap .menu {
	color: #fff;
}
header .menu-wrap .menu::after {
	background-color: #fff;
}
header .menu-wrap .menu a.active {
	font-weight: 600;
}
header .menuBtn span{
  background-color: #fff;
}
header.active{
	background-color: rgba(255, 255, 255, 0.6);
}
header.active .menu-wrap .menu{
	color: #000;
}
header.active .menuBtn span{
  background-color: #000;
}

/* 1. banner */
.banner{
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://www.78researchlab.com/images/services/blueBears.jpg') no-repeat center center;
  /* background-attachment: fixed; */
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 100px;
}
.banner h1{
	margin-bottom: 10px;
}
.banner p{
	height: 100px;
}

/* 2. section */
.sec{
	width: 80%;
	max-width: 1200px;
	height: fit-content;
	margin : 100px auto;
}

/* 2-1. section 1 */
.sec1 .txtBox p{
	font-size: 1.4rem;
	font-weight: 900;
	margin-bottom: 10px;
}
.sec1 .txtBox span{
	font-weight: 300;
	font-size: 0.95rem;
}
.sec1 table{
  margin: 20px 0;
  width: 100%;
  border-spacing: 0;
}
.sec1 table thead tr th,
.sec1 table tbody tr td{
  border: 1px solid rgba(176, 188, 206, 0.211);
	text-align: center;
}
.sec1 table thead tr th:first-child,
.sec1 table tbody tr td:first-child{
	width: 120px;
}
.sec1 table thead tr th:nth-child(n+2),
.sec1 table tbody tr td:nth-child(n+2){
  width: calc((100% - 120px) / 3);
}
.sec1 table thead tr th{
	background-color: rgba(176, 188, 206, 0.211);
	height: fit-content;
  padding: 10px;
}
.sec1 table thead tr th:nth-child(1){
  /* border: none; */
  background-color: transparent;
}
.sec1 table tbody tr td{
  height: 45px;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 10px 0;
}
.sec1 table tbody tr:last-child.active td:first-child{
  background-color: #2A4B7C;
  color: #fff;
}
.sec1 table tbody tr:last-child,
.sec1 table tbody tr:last-child td{
  transition: 0.5s;
}
.sec1 table tbody tr:last-child.active td{
  border: 2px solid #2A4B7C;
}
.sec1 table tbody tr:last-child.active td:nth-child(n+2):nth-child(-n+3){
  border-left: none;
  border-right: none;
}
.sec1 table tbody tr:last-child.active td:nth-child(4){
  border-left: none;
}
.sec1 table tbody tr td:first-child{
  padding: 0 3px;
}
.sec1 table tbody tr td .iconBox{
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.sec1 table tbody tr td .iconBox.circleIcon{
  background: url('../images/icons/circle.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
	transition: 0.5s;
}
.sec1 table tbody tr td .iconBox.closeIcon{
  background: url('../images/icons/close.svg') no-repeat center center;
  background-size: contain;
  opacity: 0.3;
}
.sec1 table tbody tr td .iconBox.circleIcon.active{
  opacity: 0.9;
}

/* 2-2. section 2 */
.sec2 {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
.sec2 article{
	width: 100%;
	height: fit-content;
	margin: 30px 0;
}
.sec2 article .top{
	width: 100%;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.sec2 article .top .icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #2A4B7C;
	padding: 2px;
}
.sec2 article .top .txt{
	width: calc(100% - 40px);
	height: fit-content;
	background-color: rgba(24, 88, 183, 0.13);
	border-radius: 10px;
	padding-left: 10px;
	padding: 10px;
	position: relative;
}
.sec2 article ul,
.sec2 article ul li{
	height: fit-content;
	list-style: circle;
}
.sec2 article ul{
	padding-left: 60px;
	width: 100%;
}
.sec2 article ul li{
	margin: 5px 0;
	font-weight: 100;
	height: fit-content;
}
.sec2 article ul li b{
	color: #003F9B;
	font-weight: 500;
	text-decoration: underline;
}
.sec2 article .imgBox{
	width: 80%;
	height: fit-content;
	padding: 50px 0;
	margin: 0 auto;
}
.sec2 article .imgBox .en{
	display: none;
}
.sec2 article .bottom-wrap{
	height: fit-content;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.sec2 article .bottom-wrap ul{
	width: calc(100% - 250px);
}
.sec2 article .top .txt .show-patent{
	display: none;
}
.sec2 article .top .txt .show-patent.active{
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: -20px;
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.5);
}
.sec2 article .bottom-wrap .patent{
	width: 180px;
	height: 100%;
	margin-right: 30px;
}
.sec2 article .bottom-wrap .patent-zoom{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec2 article .bottom-wrap .patent-zoom.active{
	z-index: 99;
}
.sec2 article .bottom-wrap .patent-zoom .imgBox{
	width: 100%;
	height: 90%;
}
.sec2 article .bottom-wrap .patent-zoom .imgBox img{
	object-fit: contain;
}

/* 2-3. section 3 */
.sec3{
	display: none;
}
.sec3.active{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.sec3.active .input-wrap{
	width: 600px;
	height: 500px;
	background-color: #fff;
	border: 1px silver #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.sec3.active .input-wrap .imgBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.05;
}
.sec3.active .input-wrap .closeBtn{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.sec3.active .input-wrap .closeBtn span{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
}
.sec3.active .input-wrap .closeBtn span:nth-child(1){
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
.sec3.active .input-wrap .closeBtn span:nth-child(2){
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}
.sec3.active .input-wrap .input-top{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
}
.sec3.active .input-wrap .input-bottom{
	width: 100%;
	height: calc(100% - 200px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sec3.active .input-wrap .input-bottom input{
	outline: none;
	width: 90%;
	margin: 10px 0;
	padding-left: 15px;
	height: 30px;
	border: none;
	z-index: 99;
	background-color: transparent;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.sec3.active .input-wrap .input-bottom button{
	width: 70px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	margin-top: 20px;
}


@media (max-width : 1130px) {
	.sec{
		width: 90%;
	}
}
@media (max-width : 1000px) {
	.sec2 article .top{
		height: fit-content;
	}
	.sec2 article .top .txt{
		height: fit-content;
		background-color: rgba(24, 88, 183, 0.13);
		border-radius: 5px;
		line-height: normal;
		padding: 10px;
	}
}
@media (max-width : 950px) {
	.sec{
		width: 95%;
	}
	.sec1 table tbody tr td .iconBox{
    width: 15px;
    height: 15px;
  }
	.sec2{
		width: 100%;
	}
	.sec2 article .bottom-wrap{
		height: fit-content;
	}
	.sec2 article .bottom-wrap ul{
		width: 95%;
	}
	.sec2 article:nth-child(1) .top .txt{
		position: relative;
	}
	.sec2 article:nth-child(1) .bottom-wrap{
		margin-top: 25px;
	}
	.sec2 article .bottom-wrap .patent{
		display: none;
	}
	.sec2 article .top .show-patent.active{
		display: inline-block;
		position: absolute;
		right: 10px;
		bottom: -20px;
	}
}
@media (max-width : 800px) {
	.banner{
		padding: 0 50px;
	}
	.sec{
		width: 100%;
		padding: 50px;
	}
}
@media (max-width : 750px) {
	html,body{
		font-size: 95%;
	}
}
@media (max-width : 600px) {
	html,body{
		font-size: 90%;
	}
	.sec1 table thead tr th:first-child,
	.sec1 table tbody tr td:first-child{
		width: 100px;
		font-size: 0.8rem;
	}
	.sec2 article .imgBox{
		width: 95%;
	}
	.sec2 article ul{
		padding-left: 40px;
	}
	.sec2 article .top .icon{
		width: 20px;
		height: 20px;
	}
	.sec2 article .top .txt{
		width: calc(100% - 30px);
	}
}
@media (max-width : 530px) {
	html,body{
		font-size: 85%;
	}
	.banner{
		padding: 0 30px;
	}
	.sec{
		padding: 30px;
	}
	.sec2 article ul{
		padding-left: 30px;
	}
}
@media (max-width : 400px) {
	html, body{
		font-size: 80%;
	}
}