@charset "utf-8";

html, body{
	background-color: #fff;
}
/* 0. header */
header .logo {
	width: 100px;
	height: 25px;
}
header .logo img {
	object-fit: contain;
}
header .menu-wrap .menu {
	color: #fff;
}
header .menu-wrap .menu::after {
	background-color: #fff;
}
header .menu-wrap .menu a.active {
	font-weight: 600;
}
header .menuBtn span{
  background-color: #fff;
}
header.active{
	background-color: rgba(255, 255, 255, 0.6);
}
header.active .menu-wrap .menu{
	color: #000;
}
header.active .menuBtn span{
  background-color: #000;
}

/* 1. banner */
.banner{
  width: 100%;
  height: 500px;
  /* background: linear-gradient(rgba(42, 75, 124, 0.4), rgba(42, 75, 124, 0.4)), url('https://www.78researchlab.com/images/services/blueBears.jpg') no-repeat center center; */
	background: url('../images/services/blueBears_banner.png') no-repeat center bottom;
  /* background-attachment: fixed; */
	background-size: cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.banner h1{
	margin-bottom: 10px;
}
.banner p{
	height: 100px;
}

/* 2. section */
.sec{
	width: 80%;
	max-width: 1200px;
	height: fit-content;
	padding: 50px 100px;
	margin : 50px auto 0 auto;
}

/* 2-1. section 1 */
.sec1 .txtBox p{
	font-size: 1.4rem;
	font-weight: 900;
	margin-bottom: 10px;
}
.sec1 .txtBox span{
	font-weight: 300;
	font-size: 1rem;
}
.sec1 .box-wrap{
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.sec1 .box-wrap .box{
	width: 50%;
	height: 250px;
	padding: 50px 0;
	border: 1px solid #D4D4D4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	position: relative;
}
.sec1 .box-wrap .box .title{
	position: absolute;
	left: 50%;
	top: -15px;
	height: 30px;
	line-height: 30px;
	font-size: 1.15rem;
	font-weight: 900;
	transform: translateX(-50%);
	background-color: #fff;
	padding: 0 20px;
}
.sec1 .box-wrap .box:nth-child(2) p{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sec1 .box-wrap .box:nth-child(2) p span{
	font-weight: 100;
	font-size: 0.9rem;
	color: rgba(0,0,0,0.6);
}
.sec1 .box-wrap .vs{
	width: 50px;
	height: 50px;
	background-color: #2A4B7C;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* 2-2. section 2 */
.sec2 {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
}
.sec2 article{
	width: 100%;
	height: fit-content;
	margin: 30px 0;
}
.sec2 article .top{
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.sec2 article .top .icon{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #2A4B7C;
	padding: 2px;
}
.sec2 article .top .txt{
	width: calc(100% - 40px);
	height: 35px;
	background-color: rgba(24, 88, 183, 0.13);
	border-radius: 10px;
	line-height: 35px;
	padding-left: 10px;
	position: relative;
}
.sec2 article ul,
.sec2 article ul li{
	list-style: circle;
}
.sec2 article ul{
	padding-left: 60px;
	width: 100%;
	height: fit-content;
}
.sec2 article ul li{
	margin: 5px 0;
	font-weight: 100;
	height: fit-content;
}
.sec2 article ul li b{
	color: #003F9B;
	font-weight: 500;
	text-decoration: underline;
}
.sec2 article .imgBox{
	width: 80%;
	height: fit-content;
	padding: 50px 0;
	margin: 0 auto;
}
.sec2 article .bottom-wrap{
	height: 250px;
	display: flex;
	justify-content: space-between;
	align-items: start;
}
.sec2 article .bottom-wrap ul{
	width: calc(100% - 250px);
}
.sec2 article .top .show-patent{
	display: none;
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: -20px;
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.5);
}
.sec2 article .bottom-wrap .patent{
	width: 180px;
	height: 100%;
	background: url('../images/services/blueBears_특허.jpg') no-repeat center center;
	background-size: contain;
	margin-right: 30px;
}
.sec2 article .bottom-wrap .patent-zoom{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sec2 article .bottom-wrap .patent-zoom.active{
	z-index: 99;
}
.sec2 article .bottom-wrap .patent-zoom .imgBox{
	width: 100%;
	height: 90%;
}
.sec2 article .bottom-wrap .patent-zoom .imgBox img{
	object-fit: contain;
}

/* 2-3. section 3 */
.sec3{
	width: 100%;
	max-width: 100%;
	background-color: #F8F8F8;
	padding: 150px;
	position: relative;
}
.sec3 .sec3-inner{
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}
.sec3 .title{
	text-transform: uppercase;
	letter-spacing: 20px;
	font-size: 1.2rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 50px;
}
.sec3 .imgBox{
	width: 100%;
	height: fit-content;
	margin: 0 auto;
}
.sec3 .intro-txt{
	font-size: 0.9rem;
	text-decoration: underline;
	cursor: pointer;
	position: absolute;
	right: 30px;
	bottom: 30px;
}

/* 2-4. section 4 */
.sec4{
	display: none;
}
.sec4.active{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.sec4.active .input-wrap{
	width: 600px;
	height: 500px;
	background-color: #fff;
	border: 1px silver #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.sec4.active .input-wrap .imgBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.05;
}
.sec4.active .input-wrap .closeBtn{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.sec4.active .input-wrap .closeBtn span{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
}
.sec4.active .input-wrap .closeBtn span:nth-child(1){
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
.sec4.active .input-wrap .closeBtn span:nth-child(2){
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}
.sec4.active .input-wrap .input-top{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
}
.sec4.active .input-wrap .input-bottom{
	width: 100%;
	height: calc(100% - 200px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sec4.active .input-wrap .input-bottom input{
	outline: none;
	width: 90%;
	margin: 10px 0;
	padding-left: 15px;
	height: 30px;
	border: none;
	z-index: 99;
	background-color: transparent;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.sec4.active .input-wrap .input-bottom button{
	width: 70px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	margin-top: 20px;
}

@media (max-width : 1400px) {
	.sec1 .box-wrap .box:nth-child(1){
		width: 40%;
	}
	.sec1 .box-wrap .box:nth-child(2){
		width: 60%;
	}
	.sec1 .box-wrap .vs{
		left: 40%;
	}
}
@media (max-width : 1250px) {
	.sec1 .box-wrap{
		flex-direction: column;
	}
	.sec1 .box-wrap .box:nth-child(1),
	.sec1 .box-wrap .box:nth-child(2){
		width: 100%;
	}
	.sec1 .box-wrap .box:nth-child(1){
		height: 200px;
	}
	.sec1 .box-wrap .box:nth-child(2){
		height: 250px;
	}
	.sec1 .box-wrap .vs{
		left: 50%;
		top: 44%;
	}
	.sec1 .box-wrap .box .title{
		top: 10px;
		left: 0;
		text-align: start;
		padding: 0 10px;
		transform: translateX(0);
		font-size: 0.9rem;
		background-color: rgba(0, 0, 0, 0.1);
		font-weight: 300;
		color: rgba(0, 0, 0, 0.5);
	}
}
@media (max-width : 1130px) {
	.sec{
		width: 90%;
	}
	.sec3{
		width: 100%;
		padding: 100px;
	}
	.sec3 .title{
		margin-bottom: 30px;
	}
	.sec3 .sec3-inner{
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width : 1000px) {
	.sec2 article .top{
		height: fit-content;
	}
	.sec2 article .top .txt{
		height: fit-content;
		background-color: rgba(24, 88, 183, 0.13);
		border-radius: 5px;
		line-height: normal;
		padding: 10px;
	}
}
@media (max-width : 950px) {
	.sec2{
		width: 100%;
	}
	.sec2 article .bottom-wrap{
		height: fit-content;
	}
	.sec2 article .bottom-wrap ul{
		width: 95%;
	}
	.sec2 article:nth-child(1) .bottom-wrap{
		margin-top: 25px;
	}
	.sec2 article .bottom-wrap .patent{
		display: none;
	}
	.sec2 article .top .show-patent{
		display: inline-block;
	}
}
@media (max-width : 800px) {
	.sec{
		width: 100%;
		padding: 50px;
	}
	.sec3{
		padding: 100px 50px;
	}
}
@media (max-width : 750px) {
	html,body{
		font-size: 95%;
	}
}
@media (max-width : 600px) {
	html,body{
		font-size: 90%;
	}
	.sec2 article .imgBox{
		width: 95%;
	}
	.sec2 article ul{
		padding-left: 40px;
	}
	.sec2 article .top .icon{
		width: 20px;
		height: 20px;
	}
	.sec2 article .top .txt{
		width: calc(100% - 30px);
	}
}
@media (max-width : 530px) {
	html,body{
		font-size: 85%;
	}
	.sec{
		padding: 30px;
	}
	.sec2 article ul{
		padding-left: 30px;
	}
	.sec1 .box-wrap .box:nth-child(2) p span{
		font-size: 0.8rem;
	}
	.sec1 .box-wrap .box:nth-child(1),
	.sec1 .box-wrap .box:nth-child(2){
		width: 100%;
		padding: 20px 0;
	}
	.sec1 .box-wrap .box:nth-child(1){
		height: 130px;
	}
	.sec1 .box-wrap .box:nth-child(2){
		height: 150px;
	}
	.sec1 .box-wrap .vs{
		width: 40px;
		height: 40px;
		left: 50%;
		top: 46%;
	}
	.sec3 .title{
		letter-spacing: 10px;
		font-size: 1.1rem;
		margin-bottom: 10px;
	}
	.sec3 .sec3-inner{
		margin: 20px auto;
	}
}
@media (max-width : 400px) {
	html, body{
		font-size: 80%;
	}
}