@charset "utf-8";

/* 0. header */
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
header .logo{
	width: 100px;
	height: 25px;
}
header .logo img{
	object-fit: contain;
}
header .menu-wrap .menu {
  color: #000;
}
header .menu-wrap .menu::after {
  background-color: #000;
}
header .menu-wrap .menu a.active {
  font-weight: 600;
}

/* 1. banner */
.banner {
  width: 100%;
  height: 100vh;
  background: url('../images/services/purpleHound2.png') no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}
.banner .text_box{
  width: 50%;
  height: fit-content;
  padding: 20px 10px;
  margin-left: 150px;
  margin-top: -50px;
}
.banner .text_box p.light{
  font-size: 1.1rem;
  font-weight: 300;
}
.banner .text_box p.bold{
  font-size: 1.5rem;
  font-weight: 600;
}
.banner .text_box img{
  width: fit-content;
  height: 70px;
  margin: 10px 0;
}

/* 1-1.common section */
.sec{
  width: 100%;
  height: 100vh;
  padding: 100px 200px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec .sec-top{
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}
.sec .sec-top p.title{
  font-size: 1.5rem;
  font-weight: 600;
}
.sec .sec-top p.sub{
  font-size: 1.1rem;
  font-weight: 300;
}
.sec .sec-bottom{
  width: 100%;
  height: calc(70% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2. section 1 */
.sec1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1 .sec-bottom img{
  width: 100%;
  height: 90%;
  object-fit: contain;
}

/* 3. section 2 */
.sec2 .sec-bottom{
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.sec2 .sec-bottom .slider{
  width: 100%;
  height: 100%;
  padding: 50px;
}
.sec2 .sec-bottom .slider .inner,
.sec2 .sec-bottom .slider .inner .swiper-wrapper,
.sec2 .sec-bottom .slider .inner .swiper-wrapper .swiper-slide,
.sec2 .sec-bottom .slider .inner .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec2 .sec-bottom .slider .inner .swiper-wrapper{
  height: calc(100% - 50px);
}
.sec2 .sec-bottom .slider .inner .swiper-wrapper .swiper-slide.swiper-slide-active{
  background-color: #FFFFFF;
  height: 100%;
}
.sec2 .sec-bottom .slider .inner .swiper-wrapper .swiper-slide.swiper-slide-next,
.sec2 .sec-bottom .slider .inner .swiper-wrapper .swiper-slide.swiper-slide-prev{
  background-color: #FFFFFF;
  filter: brightness(0.6);
  z-index: -1;
  height: 90%;
  margin: auto 0;
}
.sec2 .sec-bottom .slider .inner .btn-wrap{
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.sec2 .sec-bottom .slider .inner .btn-wrap button{
  width: 100px;
  height: 100%;
  margin: 0 5px;
  background-color: #D9D9D9;
  cursor: pointer;
}

/* #3. section 3 */
.sec3{
  background-color: lightblue;
}

/* #4. section 4 */
.sec4{
  background-color: lightgreen;
}

/* #6. banner */
footer .footer-top .logoBox{
	width: fit-content;
	height: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
footer .footer-top .logoBox img{
filter: brightness(10);
opacity: 0.5;
}