@charset "utf-8";

/* 0. header */
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
header .logo{
	width: 100px;
	height: 25px;
}
header .logo img{
	object-fit: contain;
}
header .menu-wrap .menu {
  color: #000;
}
header .menu-wrap .menu::after {
  background-color: #000;
}
header .menu-wrap .menu a.active {
  font-weight: 600;
}

/* 1. banner */
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
}
.banner .text-box {
  width: 50%;
  height: 25%;
  min-height: fit-content;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  margin-top: -50px;
  padding: 20px 10px;
}
.banner .text-box[data-aos="fade-up-right"] {
  transform: translate(-50px, calc(-50% + 50px)) !important;
  opacity: 0;
}
.banner .text-box[data-aos="fade-up-right"].aos-animate {
  transform: translateY(-50%) !important;
  opacity: 1;
}
.banner .text-box .font-light{
  font-size: 1.3rem;
  font-weight: 300;
}
.banner .text-box .font-bold{
  font-size: 1.5rem;
  font-weight: 600;
}
.banner .text-box img{
  width: 80%;
  max-width: fit-content;
  height: 50%;
  max-height: fit-content;
  margin: 15px 0;
  object-fit: contain;
}
.banner .img-box{
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  background: url('../images/services/purpleHound2.png') no-repeat right;
  background-size: cover;
}

/* 1-1.common section */
.sec{
  width: 100%;
  height: 100vh;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec:nth-child(even){
  background-color: #F0F0F0;
}
.sec .sec-top{
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sec .sec-top p.title{
  font-size: 1.5rem;
  font-weight: 600;
}
.sec .sec-top p.sub{
  font-size: 1.1rem;
  font-weight: 300;
}
.sec .sec-bottom{
  width: 100%;
  height: calc(80% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2. section 1 */
.sec1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1 .sec-bottom img{
  width: 100%;
  height: 90%;
  object-fit: contain;
}

/* 3. section 2 */
.sec2 .sec-bottom{
  overflow: hidden;
}
.sec2 .sec-bottom .slider{
  width: 100%;
  height: 100%;
  padding: 20px 100px 0 100px;
}
.sec2 .sec-bottom .slider .inner,
.sec2 .sec-bottom .slider .swiper-wrapper,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec2 .sec-bottom .slider .swiper-wrapper{
  height: calc(100% - 50px);
  cursor: grab;
}
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-active{
  background-color: #FFFFFF;
  height: 100%;
}
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-next,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-prev{
  background-color: #FFFFFF;
  filter: brightness(0.6);
  z-index: -1;
  height: 90%;
  margin: auto 0;
}
.sec2 .sec-bottom .slider .swiper-pagination .swiper-pagination-bullet{
  background-color: #8C8C8C;
}
.sec2 .sec-bottom .slider .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #5F488CCF;
}

/* #3. section 3 */
.sec3 .sec-bottom{
  margin-top: 20px;
}
.sec3 .sec-bottom .left{
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.sec3 .sec-bottom .left .item-box{
  position: relative;
  margin: 10px;
  width: 100%;
  height: calc(33% - 10px);
  position: relative;
}
.sec3 .sec-bottom .left .item-box::before{
  content: '';
  position: absolute;
  left: 30px;
  top: 40px;
  width: 2px;
  height: 100%;
  background-color: #CCCCCC;
}
.sec3 .sec-bottom .left .item-box .index{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #CCCCCC;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sec3 .sec-bottom .left .item-box.active .index{
  color: #555555;
  border: 2px solid #555555;
}
.sec3 .sec-bottom .left .item-box .txt-box{
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  right: 30px;
  width: calc(100% - 100px);
  height: 100%;
  padding: 30px 40px;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1rem;
}
.sec3 .sec-bottom .left .item-box .txt-box::before{
  content: '';
  position: absolute;
  top: 22px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #F0F0F0;
}
.sec3 .sec-bottom .left .item-box.active .txt-box{
  opacity: 1;
}
.sec3 .sec-bottom .left .item-box .txt-box .title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.sec3 .sec-bottom .left .item-box .txt-box .title .patent-badge {
  display: inline-block;
  font-size: 0.75rem;
  padding: 2px 8px;
  margin-left: 8px;
  background-color: #F0F0F0;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  color: #666666;
  vertical-align: middle;
}
.sec3 .sec-bottom .left .item-box .txt-box .sub{
  font-size: 1rem;
  font-weight: 300;
}
.sec3 .sec-bottom .right{
  width: 60%;
  height: 100%;
  background-color: #F0F0F0;
  overflow: hidden;
}
.sec3 .sec-bottom .right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px 50px;
}

/* #4. section 4 */
.sec4{
  height: fit-content;
  padding: 100px;
  background-color: #F0F0F0;
  margin-top: 50px;
}
.sec4 .sec-bottom{
  width: 100%;
  min-height: calc(100% - 100px);
  height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .asset-box{
  background-color: #F0F0F0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.sec4 .sec-bottom .asset-box .box{
  width: 30%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .asset-box .box .name{
  color: #878787;
  width: fit-content;
  padding: 0 5px;
  margin-bottom: 10px;
  border-bottom: none;
}
.sec4 .sec-bottom .asset-box .box .cnt{
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: 800;
}
.sec4 .sec-bottom .asset-box .box .line{
  width: 30px;
  height: 5px;
  margin: 10px 0 20px 0;
  background-color: #5F4B8B;
}
.sec4 .sec-bottom .asset-box .box .name{
  color: #787878;
}
.sec4 .sec-bottom .box-wrap{
  width: 100%;
  height: 200px;
  /* background-color: rebeccapurple; */
  background-color: #F0F0F0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .box-wrap .count-box{
  /* width: 30%; */
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: wheat; */
  background-color: rgba(255,255,255,0.5);
  border-radius: 15px;
}
.sec4 .sec-bottom .box-wrap .count-box .count{
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 20px;
  color: #5F4B8B;
}
.sec4 .sec-bottom .box-wrap .count-box p{
  font-size: 1rem;
}
.sec4 .sec-bottom .container{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}
.sec4 .sec-bottom .container .circle-wrap{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .container .circle-wrap .circle{
  height: 95%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 40px solid #F1F1F1;
  position: relative;
}
.sec4 .sec-bottom .container .circle-wrap .point .icon{
  font-size: 1.6rem;
  color: #FFFFFF;
  opacity: 0.5;
  transition: all 0.6s ease;
}
.sec4 .sec-bottom .container .circle-wrap .point .icon.active{
  font-size: 3.6rem;
  opacity: 1;
}
.sec4 .sec-bottom .container .table-wrap{
  width: calc(70% - 30px);
  height: 100%;
  padding: 50px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.sec4 .sec-bottom .container .table-wrap .title{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.sec4 .sec-bottom .container .table-wrap .sub{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.sec4 .sec-bottom .container .table-wrap table{
  width: 100%;
}
.sec4 .sec-bottom .container .table-wrap table tr th{
  font-weight: 600;
}
.sec4 .sec-bottom .container .table-wrap table tr td{
  padding: 10px 0;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(1){
  width: 10%;
  text-align: center;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(2){
  width: 30%;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(3){
  width: 60%;
  font-size: 0.9rem;
  font-weight: 300;
}
.sec4 .sec-bottom .container .table-wrap table {
  border-collapse: collapse;
}

.sec4 .sec-bottom .container .table-wrap table tr th,
.sec4 .sec-bottom .container .table-wrap table tr td {
  border: 1px solid #CCCCCC;
  padding: 10px;
}
.sec4 .sec-bottom .container .table-wrap table tr th {
  background-color: #e1e1e1;
  text-transform: capitalize;
}
.sec4 .sales-btn{
  font-size: 1.3rem;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sec4 .sales-btn:hover{
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

/* #5. modal */
.modal{
	display: none;
}
.modal.active{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}
.modal.active .input-wrap{
	width: 600px;
	height: 500px;
	background-color: #fff;
	border: 1px silver #000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}
.modal.active .input-wrap .imgBox{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.05;
}
.modal.active .input-wrap .closeBtn{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.modal.active .input-wrap .closeBtn span{
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	position: absolute;
}
.modal.active .input-wrap .closeBtn span:nth-child(1){
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
}
.modal.active .input-wrap .closeBtn span:nth-child(2){
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
}
.modal.active .input-wrap .input-top{
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
}
.modal.active .input-wrap .input-bottom{
	width: 100%;
	height: calc(100% - 150px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
  padding-top: 30px;
}
.modal.active .input-wrap .input-bottom .input-wrap{
  width: 90%;
  height: 50px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.modal.active .input-wrap .input-bottom .input-wrap p{
  position: absolute;
  left: 20px;
  top: -10px;
  padding: 0 15px;
  background-color: #FFFFFF;
}
.modal.active .input-wrap .input-bottom .input-wrap input {
  outline: none;
  width: 90%;
  height: 100%;
  border: none;
  font-size: 1rem;
}
.modal.active .input-wrap .input-bottom .input-wrap select {
  outline: none;
  width: 90%;
  margin: 10px 0;
  padding-left: 15px;
  height: 30px;
  border: none;
  z-index: 99;
  background-color: transparent;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.modal.active .input-wrap .input-bottom .input-wrap .phone-number-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.modal.active .input-wrap .input-bottom .input-wrap .phone-number-inputs input {
  padding-left: 20px;
  width: 30%;
  height: 100%;
  border-radius: 5px;
}
.modal.active .input-wrap .input-bottom .input-wrap .phone-number-inputs input::placeholder{
  color: rgba(0, 0, 0, 0.3);
}
/* 이메일 입력란 */
.modal.active .input-wrap .input-bottom .input-wrap .email-inputs {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal.active .input-wrap .input-bottom .input-wrap .email-inputs input {
  width: 45%;
  height: 100%;
  padding-left: 10px;
}
.modal.active .input-wrap .input-bottom .input-wrap .email-inputs select {
  width: 45%;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* 커스텀 도메인 입력 필드 */
.modal.active .input-wrap .input-bottom .input-wrap .email-inputs #email-custom-domain {
  width: 150px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.modal.active .input-wrap .input-bottom #submit{
	width: 70px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
}
.modal.active .checkbox-wrap{
  width: 90%;
  height: 30px;
  text-align: end;
}
.modal.active .checkbox-wrap input,
.modal.active .checkbox-wrap label{
  cursor: pointer;
}

/* #6. footer */
footer .footer-top .logoBox{
	width: fit-content;
	height: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
footer .footer-top .logoBox img{
filter: brightness(10);
opacity: 0.5;
}

/* ===== 해상도 조절 */
@media (min-width: 1920px) {
  *{
    /* background-color: rgba(189, 175, 204, 0.274); */
  }
}

@media (max-width: 1400px) {
  .banner .img-box{
    background: url('../images/services/purpleHound2.png') no-repeat right;
    background-size: contain;
  }
}