@charset "utf-8";

/* 0. header */
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
header .logo{
	width: 100px;
	height: 25px;
}
header .logo img{
	object-fit: contain;
}
header .menu-wrap .menu {
  color: #000;
}
header .menu-wrap .menu::after {
  background-color: #000;
}
header .menu-wrap .menu a.active {
  font-weight: 600;
}

/* 1. banner */
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #FFFFFF;
}
.banner .text-box {
  width: 50%;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  padding: 20px 10px;
}
.banner .text-box[data-aos="fade-up-right"] {
  transform: translate(-50px, calc(-50% + 50px)) !important;
  opacity: 0;
}
.banner .text-box[data-aos="fade-up-right"].aos-animate {
  transform: translateY(-50%) !important;
  opacity: 1;
}
.banner .text-box .font-light{
  font-size: 1.3rem;
  font-weight: 300;
}
.banner .text-box .font-bold{
  font-size: 1.5rem;
  font-weight: 600;
}
.banner .text-box img{
  width: fit-content;
  height: 100px;
  margin: 15px 0;
}
.banner .img-box{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url('../images/services/purpleHound2.png') no-repeat right;
  background-size: contain;
}

/* 1-1.common section */
.sec{
  width: 100%;
  height: 100vh;
  padding: 100px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec:nth-child(even){
  background-color: #F0F0F0;
}
.sec .sec-top{
  width: 100%;
  height: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sec .sec-top p.title{
  font-size: 1.5rem;
  font-weight: 600;
}
.sec .sec-top p.sub{
  font-size: 1.1rem;
  font-weight: 300;
}
.sec .sec-bottom{
  width: 100%;
  height: calc(80% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2. section 1 */
.sec1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec1 .sec-bottom img{
  width: 100%;
  height: 90%;
  object-fit: contain;
}

/* 3. section 2 */
.sec2 .sec-bottom{
  overflow: hidden;
}
.sec2 .sec-bottom .slider{
  width: 100%;
  height: 100%;
  padding: 20px 100px 0 100px;
}
.sec2 .sec-bottom .slider .inner,
.sec2 .sec-bottom .slider .swiper-wrapper,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.sec2 .sec-bottom .slider .swiper-wrapper{
  height: calc(100% - 50px);
  cursor: grab;
}
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-active{
  background-color: #FFFFFF;
  height: 100%;
}
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-next,
.sec2 .sec-bottom .slider .swiper-wrapper .swiper-slide.swiper-slide-prev{
  background-color: #FFFFFF;
  filter: brightness(0.6);
  z-index: -1;
  height: 90%;
  margin: auto 0;
}
.sec2 .sec-bottom .slider .swiper-pagination .swiper-pagination-bullet{
  background-color: #8C8C8C;
}
.sec2 .sec-bottom .slider .swiper-pagination .swiper-pagination-bullet-active{
  background-color: #5F488CCF;
}

/* #3. section 3 */
.sec3 .sec-bottom .left{
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.sec3 .sec-bottom .left .item-box{
  position: relative;
  margin: 10px;
  width: 100%;
  height: 150px;
  position: relative;
}
.sec3 .sec-bottom .left .item-box::before{
  content: '';
  position: absolute;
  left: 30px;
  top: 40px;
  width: 2px;
  height: 100%;
  background-color: #CCCCCC;
}
.sec3 .sec-bottom .left .item-box .index{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #CCCCCC;
  border: 2px solid #CCCCCC;
  border-radius: 50%;
  background-color: #FFFFFF;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sec3 .sec-bottom .left .item-box.active .index{
  color: #555555;
  border: 2px solid #555555;
}
.sec3 .sec-bottom .left .item-box .txt-box{
  background-color: #F0F0F0;
  position: absolute;
  top: 0;
  right: 30px;
  width: calc(100% - 100px);
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  opacity: 0.5;
  cursor: pointer;
  font-size: 1rem;
}
.sec3 .sec-bottom .left .item-box .txt-box::before{
  content: '';
  position: absolute;
  top: 22px;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 10px solid #F0F0F0;
}
.sec3 .sec-bottom .left .item-box.active .txt-box{
  opacity: 1;
}
.sec3 .sec-bottom .left .item-box .txt-box .title{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.sec3 .sec-bottom .left .item-box .txt-box .title .patent-badge {
  display: inline-block;
  font-size: 12px;
  padding: 2px 8px;
  margin-left: 8px;
  background-color: #F0F0F0;
  border: 1px solid #CCCCCC;
  border-radius: 10px;
  color: #666666;
  vertical-align: middle;
}
.sec3 .sec-bottom .left .item-box .txt-box .sub{
  font-size: 0.9rem;
  font-weight: 300;
}
.sec3 .sec-bottom .right{
  width: 60%;
  height: 100%;
  background-color: #F0F0F0;
  overflow: hidden;
}
.sec3 .sec-bottom .right img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 20px 50px;
}

/* #4. section 4 */
.sec4{
  height: fit-content;
  padding: 100px;
  background-color: #F0F0F0;
  margin-top: 50px;
}
.sec4 .sec-bottom{
  width: 100%;
  min-height: calc(100% - 100px);
  height: fit-content;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .asset-box{
  background-color: #F0F0F0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.sec4 .sec-bottom .asset-box .box{
  width: 30%;
  height: 100%;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .asset-box .box .name{
  color: #878787;
  width: fit-content;
  padding: 0 5px;
  margin-bottom: 10px;
  border-bottom: none;
}
.sec4 .sec-bottom .asset-box .box .cnt{
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  font-weight: 800;
}
.sec4 .sec-bottom .asset-box .box .line{
  width: 30px;
  height: 5px;
  margin: 10px 0 20px 0;
  background-color: rebeccapurple;
}
.sec4 .sec-bottom .asset-box .box .name{
  color: #787878;

}
.sec4 .sec-bottom .container{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}
.sec4 .sec-bottom .container .circle-wrap{
  width: 30%;
  height: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec4 .sec-bottom .container .circle-wrap .circle{
  width: 100%;
  box-sizing: border-box;
  border-radius: 50%;
  border: 6px solid #9f94b3;
}

.sec4 .sec-bottom .container .table-wrap{
  width: 70%;
  height: 100%;
  padding: 50px;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.sec4 .sec-bottom .container .table-wrap .title{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.sec4 .sec-bottom .container .table-wrap .sub{
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 20px;
}
.sec4 .sec-bottom .container .table-wrap table{
  width: 100%;
}
.sec4 .sec-bottom .container .table-wrap table tr th{
  font-weight: 600;
}
.sec4 .sec-bottom .container .table-wrap table tr td{
  padding: 10px 0;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(1){
  width: 10%;
  text-align: center;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(2){
  width: 30%;
}
.sec4 .sec-bottom .container .table-wrap table tr td:nth-child(3){
  width: 60%;
  font-size: 0.9rem;
  font-weight: 300;
}
.sec4 .sec-bottom .container .table-wrap table {
  border-collapse: collapse;
}

.sec4 .sec-bottom .container .table-wrap table tr th,
.sec4 .sec-bottom .container .table-wrap table tr td {
  border: 1px solid #CCCCCC;
  padding: 10px;
}

.sec4 .sec-bottom .container .table-wrap table tr th {
  background-color: #e1e1e1;
  text-transform: capitalize;
}

/* #6. footer */
footer .footer-top .logoBox{
	width: fit-content;
	height: 30px;
	margin-bottom: 20px;
	cursor: pointer;
}
footer .footer-top .logoBox img{
filter: brightness(10);
opacity: 0.5;
}